h1{
    text-align: center;
    font-family: "Rubik Vinyl";
    text-decoration: underline;
}
body{
    background: linear-gradient(90deg, rgb(29, 47, 68) 0%, rgba(69,129,149,1) 33%, rgb(17, 16, 61) 75%);
}
h2{
    color: rgb(0, 0, 0);
    font-family: "Rubik Vinyl";
    text-decoration: underline;
}

.Tecnico{
    color:rgb(252, 233, 208);
    font-family: "Carter One";
}
.link{
    color: rgb(238, 183, 197)
}
.btn-scrolltop{
    position: fixed;
    bottom: 40px;
    right: 35px;
    padding: 15px 20px;
    background-color: rgba(201, 228, 250, 0.678);
    color: rgb(0, 0, 255);
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;
}
.btn-scrolltop-on{
    transform: translateY(0px);
}