h1 {
    color: rgb(76, 163, 189);
    text-align: center;
    font-family: "Frijole";
    text-decoration: underline;
}

.tarjeta {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto 100px 10px;
    padding-top: 50px;
    padding-left: 60px;

}

.card-header {
    color: rgb(20, 131, 94);
    box-shadow: 10px 60px 40px 60px;
    background-color: rgb(50, 34, 189) !important;
    font-family: "Bakbak One";
}

.card-body {
    color: rgb(233, 192, 192);
    background-color: rgb(206, 189, 189);
    font-family: "Bakbak One";
}

.text-bg-info {
    color: rgb(0, 0, 0) !important;
}

body {
    background-color: rgb(126, 203, 206);
}

.color1 {
    color: rgb(230, 211, 211);
}

.color2 {
    color: rgb(255, 254, 254);
    text-decoration: underline;
}

.letratitu {
    font-family: "Nosifer";
    color: aqua;
}


@media (max-width: 600px) {

    .card-header {
        box-shadow: 0px 0px 0px 0px;
        padding-right: 10px;
        color: rgb(241, 234, 234)
    }

    .tarjeta {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 10px 10px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .card-body {
        color: rgb(230, 214, 214);
        background-color: rgba(22, 6, 85, 0.397);
        font-family: "Bakbak One";
    }

    body {
        background-color: rgba(32, 61, 54, 0.178);
    }

    .letratitu {
        font-family: "fantasy";
        color: rgb(0, 252, 252);
    }

    .color1 {
        color: rgb(44, 71, 221);
    }

}


@media (min-width: 601px) {


    h1{
        color: rgb(17, 0, 255);
    }
    .card-header {
        box-shadow: 0px 0222px 0123px 20px;
        padding-right: 10px;
        color: rgb(236, 231, 231);

    }

    .tarjeta {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 10px 10px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .card-body {
        color: rgb(206, 180, 180);
        background-color: rgba(0, 0, 0, 0.945);
        font-family: "Bakbak One";
    }

    body {
        background-color: rgb(196, 199, 230);
    }

    .letratitu {
        font-family: "Nosifer";
        color: rgb(0, 17, 253);
    }

    .color1 {
        color: rgb(70, 80, 221);
    }

}

@media (min-width: 1000px) {
    h1 {
        color: rgb(13, 0, 128);
        text-align: center;
        font-family: "Frijole";
        text-decoration: underline;
    }

    .tarjeta {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto 100px 10px;
        padding-top: 50px;
        padding-left: 60px;

    }

    .card-header {
        color: rgb(241, 238, 238);
        box-shadow: 10px 60px 40px 60px;
        background-color: black !important;
        font-family: "Bakbak One";
    }

    .card-body {
        color: black;
        background-color: rgb(255, 255, 255);
        font-family: "Bakbak One";
    }

    .text-bg-info {
        color: rgb(255, 251, 251) !important;
    }

    body {
        background-color: rgba(156, 103, 145, 0.445);
    }

    .color1 {
        color: rgb(105, 25, 255);
    }

    .color2 {
        color: rgb(13, 0, 128);
        text-decoration: underline;
    }

    .letratitu {
        font-family: "Nosifer";
    }
}