body {
    margin: 0 auto;
    background-color: rgb(133, 36, 36);
}

h1 {
    color: rgb(109, 60, 60);
    text-align: center;
    font-family: "Nosifer"
}

/* Menu de navegacion */
.form {
    margin-top: 40px;
    text-align: center;
    font-family: "Bakbak One";

}

.menu {
    background-color: rgb(88, 131, 131);
    list-style: none;
    padding: 0%;
    width: 100%;
    flex-direction: row;
}

.menu li a {
    display: flex;
    text-decoration: none;
    color: rgb(238, 37, 15);
    padding: 30px;
    padding-right: 30px;
    font-family: "Bakbak One";
}

.menu li {
    display: inline-block;
    padding: 10px;
    margin-right: 50px;
    margin-inline-start: 0px;

}

nav {
    display: flex;
    justify-content: space-around;
    box-shadow: 20px 20px 40px 50px;

    color: rgb(255, 8, 0);
    width: 100%;
    padding: 12px 10px 12px 10px;
    font-family: "fantasy"

}

/* Subtitulo */
.subra {
    border-bottom: solid 8px rgb(196, 64, 64);
    color: rgb(216, 22, 22);
    box-shadow: 10px 10px 40px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    font-family: "Nosifer"
}


h2 {
    font-family: "Nosifer";
    color: rgb(180, 51, 51) ;
    padding: 20px;
    text-decoration: underline;
}

/* Menu de mas recomendaciones */
.otromas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: rgb(170, 31, 31);
    list-style-type: unset;
    justify-items: center;
}

/* Configuracion de texto y decoraciones */
.colores2 {
    font-family: "Frijole";
    color: rgb(192, 82, 82);
}

.colores3 {
    color: rgb(243, 45, 19);
    text-shadow: 100px;
    box-shadow: 3px 100px 100px 33px;
    border: solid;
    border-radius: 10px;
    background-color: black;
    font-family: "Frijole";

}

h3 {
    color: rgb(189, 255, 7);
    box-shadow: 33px 100px 100px 3px;
    background-color: rgba(238, 155, 61, 0.253);
    font-family: "Bakbak One";

}

body section ul h2 {
    color: rgb(228, 53, 41);
}

/* Footer/pie de pagina */
.menu2 {
    display: flex;
    justify-content: space-around;
    box-shadow: 20px 2px 50px 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(252, 0, 0);
    width: 100%;
    padding: 17px 0 17px 0;
    list-style-type: decimal-leading-zero;

}

div ul li {
    list-style-type: none
}

/* Configuracion del carrousel */
.contenedor {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-left: 300px;
}



/* HACER RESPONSIVE LA PAGINA */


/* LA BARRA DE NAVEGACION */
@media(max-width:600px) {

    h1{
        color: rgb(0, 0, 0);
        padding-left: 100px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 0%;
        padding-right: 100%;
        width: 100%;
        height: 0%;
        padding-left: 210px;
        background-color: rgba(228, 72, 72, 0.815)
    }

    .menu li a {
        color: rgb(240, 240, 240);
        display: flex;
        padding: 0px 0px 0px 0px;
        margin: 1px 0px 10px 0px;

    }

    nav {
        display: flex;
        flex-direction: column;
      
        

        color: rgb(255, 255, 255);
        width: 20%;
        padding: 0px 0px 1px 0px;
        font-family: "fantasy"

    }

    .form {
        flex-direction: column;
        
        
        text-align:initial;
        color: rgb(255, 255, 255);
        padding: 40px 02px 1px 0px;
        margin: 0px 22px 0px 39px;
        
    }

    /* El subtitulo */
    .subra {
        color: rgb(0, 0, 0);
        box-shadow: none;
        border-bottom: none;
        margin-top: 10px;
        margin-left: 70px;
        margin-bottom: 20px;
        text-align: center;
        text-decoration: underline;
        font-family: "Nosifer"
    }

    h2 {
        font-family: "Nosifer";
        padding: 10px;
        text-decoration: none;
    }

    /* EL CAROUSEL... NO PUDE ACOMODAR EL TEXTO QUE ESTABA DENTRO DEL CAROUSEL ESO SI QUE ME COMPLICO */
    .contenedor {
        display: flex;
        width: 60%;
        justify-content: right;
        margin-left: 150px;
    }

    /* Menu de recomendaciones */
    .otromas {
        display: grid;
        list-style-type: none;
        justify-items:legacy;
        box-shadow: none;
        margin-left: 120px;
        color: rgb(218, 176, 176);
        
    }

    .colores2 {
        font-family: "Frijole";
        color: rgb(255, 232, 232);
        list-style-type: none;
        margin-left: 20px;

    }
    .listas{
        margin-left: 80px;
    }

    .colores3 {
        color: rgb(255, 255, 255);
        text-shadow: 10px;
        box-shadow: 30px 0px 0px 0px;
        background-color: rgb(255, 255, 255);
        font-family: "Frijole";

    }

    body section ul h2 {
        color: rgb(0, 0, 0);
        margin-left: 20px;
        margin-right:112px;
        text-align: start;
    }
    
    /* Footer */
    .menu2 {
        display:flex;
        flex-direction: row;

        text-align: center;
        background-color: rgba(245, 25, 25, 0.514);
        width: 100%;
        padding: 0px 22px 7px 50px;
        
        list-style-type:none;
    }

}

/* Para los que tengan las pantallas desde 601px a 1000px */

@media(min-width:601px) {

    .menu {
        display: flex;
        flex-direction: row;
        padding: 0%;
        width: 100%;
        height: 100%;
        padding-left: 00px;
        
    }

    .menu li a {
        color: rgb(0, 217, 255);
        display: flex;
        flex-direction: row;
        padding: 20px 62px 0px 0px;
        margin: 0px 0px 10px 0px;

    }

    nav {
        display: flex;
        flex-direction: column;
        box-shadow: 10px 10px 40px 45px;

        color: rgb(43, 187, 168);
        width: 20%;
        padding: 0px 2px 1px 0px;
        font-family: "fantasy"

    }

    .form {
        text-align: center;
        
               
        color: rgb(21, 200, 255);
        padding: 25px 2px 2px 2px;
        margin: 20px 10px 5px 110px;


    }

    /* El subtitulo */
    .subra {
        color: rgba(27, 75, 59);
        box-shadow: 10px 10px 670px 30px;
        border-bottom: none;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: underline;
        font-family: "Nosifer"
    }

    h2 {
        font-family: "Nosifer";
        padding: 10px;
        text-decoration: none;
    }
    h1{
        color: rgb(27, 75, 59);
    }
    /* EL CAROUSEL... NO PUDE ACOMODAR EL TEXTO QUE ESTABA DENTRO DEL CAROUSEL ESO SI QUE ME COMPLICO */
    .contenedor {
        display: flex;
        width: 50%;
        justify-content: right;
        margin-left: 200px;
    }

    /* Menu de recomendaciones */
    .otromas {
        display: grid;
        list-style-type: none;
        justify-items: center;
        box-shadow: none;
    }

    .colores2 {
        font-family: "Frijole";
        color: rgb(125, 184, 166);
        list-style-type: none;

    }

    .colores3 {
        color: rgba(0, 183, 255, 0.678);
        text-shadow: 10px;
        box-shadow: 30px 0px 0px 0px;
        background-color: rgb(39, 77, 77);
        font-family: "Frijole";

    }
    body{
        background-color: rgb(27, 75, 59);
    }
    body section ul h2 {
        color: rgb(76, 196, 218);
        text-align: center;
        font-family: "Frijole";
    }

    /* Footer */
    .menu2 {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 10px 130px 350px 310px;
        background-color: rgb(75, 148, 135);
        color: rgba(41, 77, 87, 0.37);
        width: 100%;
        padding: 17px 0 17px 0;


    }

}

/* Desde 1000px hasta 1176px */
@media(min-width:1000px) {

    body {
        margin: 0 auto;
        background-color: rgb(168, 103, 202);
    }

    h1 {
        color: rgb(4, 0, 255);
        text-align: center;
        font-family: "Nosifer"
    }

    /* Menu de navegacion */
    .form {
        display: block;
        text-align:center ;
        margin-top: 0px;
        margin-right: 500px;
        font-family: "Bakbak One";
        color: rgb(93, 21, 228);
        margin-left: 230px;


    }

    .menu {
        display:block;
        flex-direction:inherit;
        padding: 0%;
        width: 100%;
        height: 50%;
        padding-left: 177px;
        padding-top: 0px;
        padding-bottom: 20px;
        background-color: rgba(133, 68, 158, 0.274);
    }

    .menu li a {
        color: rgb(75, 16, 214);
        display: block;
        flex-direction: row;
        padding: 6px 0px 8px 3px;
        margin: 0px 0px 10px 0px;
        margin-bottom: 0px;

    }
    


    nav {
        display: block;
        flex-direction:row;
        box-shadow: 10px 10px 10px 45px;
        
        color: rgb(97, 28, 124);
        width: 100%;
        
        font-family: "fantasy"

    }


    /* Subtitulo */
    .subra {
        border-bottom: solid 8px rgb(9, 0, 90);
        color: rgb(40, 17, 253);
        box-shadow: 10px 10px 40px 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: underline;
        font-family: "Nosifer"
    }


    h2 {
        font-family: "Nosifer";
        
        padding: 20px;
        text-decoration: underline;
    }

    /* Menu de mas recomendaciones */
    .otromas {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: rgb(32, 29, 190);
        list-style-type: unset;
        justify-items: center;
    }

    /* Configuracion de texto y decoraciones del footer y otros productos */
    .colores2 {
        font-family: "Frijole";
        color: rgb(91, 9, 245);
    }

    .colores3 {
        color: rgb(243, 19, 213);
        text-shadow: 100px;
        box-shadow: 3px 100px 100px 33px;
        border: solid;
        border-radius: 10px;
        background-color: rgb(17, 16, 22);
        font-family: "Frijole";

    }

    h3 {
        color: rgb(0, 41, 247);
        box-shadow: 33px 100px 100px 3px;
        background-color: rgba(255, 255, 255, 0.253);
        font-family: "Bakbak One";

    }

    body section ul h2 {
        color: rgb(221, 8, 240);
        font-family: "Frijole";
    }

    /* Footer/pie de pagina */
    .menu2 {
        display: flex;
        justify-content: space-around;
        box-shadow: 20px 2px 50px 10px;
        background-color: rgb(111, 99, 224);
        color: rgb(10, 0, 155);
        width: 100%;
        padding: 17px 0 17px 0;
        list-style-type: decimal-leading-zero;

    }

    div ul li {
        list-style-type: none
    }

    /* Configuracion del carrousel */
    .contenedor {
        display: flex;
        width: 50%;
        justify-content: center;
        margin-left: 230px;
    }


}

@media(min-width:1177px) {

    body {
        margin: 0 auto;
        background-color: rgba(114, 179, 165, 0.582);
    }

    h1 {
        color: rgb(42, 49, 148);
        text-align: center;
        font-family: "Nosifer"
    }

    /* Menu de navegacion */
    .form {
        margin-top: 0px;
        text-align: center;
        font-family: "Bakbak One";
        margin-left: 400px;
        color: rgb(0,46, 132);

    }

    .menu {
        background-color: rgba(192, 98, 75, 0.034);
        list-style: none;
        padding: 0%;
        width: 100%;
        flex-direction: row;
    }

    .menu li a {
        display: flex;
        text-decoration: none;
        color: rgb(0, 43, 136);
        padding: 0px;
        padding-right: 0px;
        padding-left:90px;
        font-family: "Bakbak One";
    }

    .menu li {
        display: inline-block;
        padding: 10px;
        margin-right: 0px;
        margin-inline-start: 50px;

    }

    nav {
        display: flex;
        justify-content: space-around;
        box-shadow: 20px 20px 40px 50px;

        color: rgb(64, 69, 160);
        width: 100%;
        padding: 12px 10px 12px 10px;
        font-family: "fantasy"

    }

    /* Subtitulo */
    .subra {
        border-bottom: solid 8px rgb(30, 89, 95);
        color: rgb(0, 2, 99);
        box-shadow: 10px 10px 40px 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: underline;
        font-family: "Nosifer"
    }


    h2 {
        font-family: "Nosifer";
        color: rgb(5, 9, 231);
        padding: 20px;
        text-decoration: underline;
    }

    /* Menu de mas recomendaciones */
    .otromas {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: rgb(72, 54, 233);
        list-style-type: unset;
        justify-items: center;
    }

    /* Configuracion de texto y decoraciones */
    .colores2 {
        font-family: "Frijole";
        color: rgb(19, 22, 209);
    }

    .colores3 {
        color: rgb(60, 19, 243);
        text-shadow: 100px;
        box-shadow: 3px 100px 100px 33px;
        border: solid;
        border-radius: 10px;
        background-color: rgb(81, 166, 206);
        font-family: "Frijole";

    }

    h3 {
        color: rgb(7, 255, 214);
        box-shadow: 33px 100px 100px 3px;
        background-color: rgba(61, 108, 238, 0.253);
        font-family: "Bakbak One";

    }

    body section ul h2 {
        color: rgb(10, 0, 102);
    }

    /* Footer/pie de pagina */
    .menu2 {
        display: flex;
        justify-content: space-around;
        box-shadow: 20px 2px 50px 10px;
        background-color: rgba(114, 179, 165, 0.582);
        color: rgb(0, 4, 252);
        width: 100%;
        padding: 10px 122px 17px 80px;
        list-style-type: decimal-leading-zero;

    }

    div ul li {
        list-style-type: none
    }

    /* Configuracion del carrousel */
    .contenedor {
        display: flex;
        width: 50%;
        justify-content: center;
        margin-left: 300px;
    }




}